.ipynb_checkpoints
.ipynb_checkpoints/
.DS_Store
._.DS_Store
.idea/
venv/git
__pycache__/
Graph/
density_forest.egg-info
dist

# Core latex/pdflatex auxiliary files:
*.aux
*.bbl
*.acn
*.acr
*.alg
*.bcf
*.blg
*.ist
*.run.xml
*.synctex.gz
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb